.fondo-espacio-login {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
}

.fondo-espacio-login img {
  user-select: none;
  will-change: transform, opacity, filter;
} 